argparse
cuda-python
dlib==19.24.0
glob2
keras==2.4.3
numpy
nvidia-cudnn-cu11
opencv-python==4.7.0.68
pillow==7.2.0
scipy==1.10.0
tensorboard==2.9.1
tensorflow-gpu==2.4.1
tensorflow-estimator
tensorflow-io-gcs-filesystem==0.30.0
tqdm==4.64.1